body{
    margin: 0;
    padding: 0;
    background-color: hsl(202, 86%, 94%);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{
    display: flex;
    width: 50%;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    border-radius: 25px;
    
}


.calculadora{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 25px;
}

.resultado{
    width: 50%;
    height: 100%;
    background-color: rgb(19, 48, 64);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;    */
    border-radius: 0 25px 0 75px;
    
}   

.grupo{
    margin-left: 5%;
    display: flex;
    align-items: stretch;
}
.texto{
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: hsl(202, 86%, 94%);
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    
}

.amount:focus{
    border-color: hsl(61, 70%, 52%);
}

.texto:has(+ .amount:focus) {
    border-color: hsl(61, 70%, 52%);
    background-color: hsl(61, 70%, 52%);
}

.pequeno:focus{
    border-color: hsl(61, 70%, 52%);
}
.pequeno:focus + .texto1 {
    border-color: hsl(61, 70%, 52%);
    background-color: hsl(61, 70%, 52%);
}

.amount{
    flex: 1;
    margin-right: 5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

input:focus{
    outline: none;

}

.grupo2{
    margin: 5%;
    
    display: flex;
    gap: 20px;
}

.bloco{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.campo{
    margin-top: 5%;
    display: flex;
    align-items: stretch;
}

.texto1{
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: hsl(202, 86%, 94%);
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.pequeno{
    
    width: 50%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    padding: 5%;
    border-right: none;
}

.campo3{
    display: flex;
    border: 1px solid #ccc;
    margin-left: 5%;
    margin-bottom: 5px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    

}

.campo3 input{
    margin-right: 10px;
    
}

.campo3 label{
    font-weight: 700;
    font-size: 16px;
}

.label-fora{
    margin-bottom: 5px;
    margin-left: 5%;
}

label{
    font-size: 10px;
    color: hsl(200, 26%, 54%);
}

.botao{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 50px;
    margin-left: 5%;
    padding: 10px 10px;
    width: 200px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
}

.botao img{
    width: 20px;    
    height: 20px;
}

.texto-resultado{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.paragrafo{
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    color: hsl(200, 26%, 54%);
}

#sem-resultado {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    text-align: center;

}

.com-resultado{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.paragrafo2{
    color: hsl(200, 26%, 54%);
    margin-bottom: 30px;
}


.resultado-mensal{
    border-radius: 10px;
    box-shadow: inset 0 3px 0 0 hsl(61, 70%, 52%);
    padding: 5%;
    background-color: rgb(14, 36, 49);
}

.valor{
    font-size: 48px;
    font-weight: 700;
    color: hsl(61, 70%, 52%);
    padding-bottom: 32px;

}

.texto-dentro{
    color: hsl(200, 26%, 54%);

}

.resultadopequeno{
    color: white;
    font-weight: 700;
    font-size: 20px;
}